Thumbs.db
*.obj

*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
~$*.docx

[Dd]ebug*/
obj/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/

*.[Rr]e[Ss]harper
*.DotSettings*
*.[Dd]ebug.config
*.[Rr]elease.config
packages.config
/packages

backup.bat