Thumbs.db
*.obj

*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
~$*.docx

[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/

*.[Rr]e[Ss]harper
*.DotSettings*
*.[Dd]ebug.config
*.[Rr]elease.config

/packages
*.nupkg
*.nuspec

backup.bat
nuget-pack.bat
git-commit.bat
publish-locally.bat